html {
  font-family: YakuHanJP_Noto, 'Open Sans', 'Noto Sans JP', apple-system, BlinkMacSystemFont, Roboto, 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 1rem;
}
h1 {
  font-size: 3rem;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
div {
  margin-top: 1rem;
}
.fixed {
  width: 300px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ddd;
}
.variable {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ddd;
}