html {
  font-family: YakuHanJP_Noto, 'Open Sans', 'Noto Sans JP', apple-system, BlinkMacSystemFont, Roboto, 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
body {
  margin: 0;
  padding: 1rem;
}
h1.variable {
  font-size: 3rem;
}
h2.variable {
  font-size: 2rem;
}
p.variable {
  font-size: 1rem;
}
h1.fixed {
  font-size: 48px;
}
h2.fixed {
  font-size: 32px;
}
p.fixed {
  font-size: 16px;
}
div {
  margin-top: 1rem;
}
div.fixed {
  width: 300px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #ddd;
}
div.variable {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ddd;
}